@import 'modules/modules';
@import 'partials/partials';

::selection {
  background: rgba($brand-blue,.95);
  color: $theme-0;
  opacity:1;
}


html,body{
  min-width: 970px;
  height:100%;
  overflow: hidden;
}

html{
  &.no-touch{
    //All the hover events go here
  }
  &.mobile{
    //All mobile stuff goes here
  }
  &.loaded{
    body{
      @extend .is-visible;
      transition: opacity .2s ease;
    }
  }
}
body{
  color:$theme-300;
  transition: opacity $body-fadein-time ease;
  @extend .is-invisible;
  font-family: 'Open Sans', sans-serif;
  background-color: $theme-100;
  &.loading{
    cursor:wait !important;
  }
}

#svg-container{
  width:0;
  height:0;
  position: absolute;
  z-index: -10;
  overflow: hidden;
}
$header-height:em(74);
nav{
  background: $theme-800;
  color:$theme-0;
  height: 100%;
  position: fixed;
  width:$nav-width;
  z-index: 1000;
  li{
    font-size: inherit;
    span{
      display: inline-block;
    }
    &.nav{
      opacity:.6;
      transition: background-color .2s ease, opacity .2s ease;
      &:hover,&.active{
        opacity:1;
      }
      &:hover{
        background-color: $theme-1000;
      }
      &.active{
        background-color: $brand-blue;
      }
      a{
        line-height: (60/16);
      }
      .icon{
        height:em(16);
        fill:$theme-0;
        margin:0 auto;
        display: block;
      }
      .icon-wrapper{
        width:em(50);
      }
    }

    &.logo{
      opacity: 1;
      transition:none;
      background-color: $theme-1000;
      padding:em(12) 0;
      svg{
        fill:$brand-blue;
        display: block;
        height: em(50);
        margin:0 auto;
      }
    }
  }
}

header{
  height:$header-height;
  background-color: $theme-250;
  position: relative;

  .container{
    position: relative;
  }

  #url-container{
    max-width: em(1000);
    line-height: $header-height;

    .icon{
      fill: $theme-500;
      width: em(20);
      display: inline-block;
      vertical-align: middle;
      margin-left: em(-25);
      padding-right:em(5);
    }
    .url{
      display: inline-block;
      vertical-align: middle;
      color:$theme-500;
    }
    input{
      @extend .default-input;
      padding-right: 0;
      padding-left: em(5);
      color:$theme-300;
      width:em(200);
      margin-right: em(15);
    }
    button{
      @extend .default-button;
      color:$theme-0;
      background-color: $brand-pink;
      text-transform: uppercase;
    }
  }
  #mail-me{
    background-color: $theme-300;
    width:em(50);
    height:em(50);
    border-radius:50%;
    position: absolute;
    right:0;
    top:0;bottom:0;
    margin:auto 0;

    .icon{
      fill:white;
      height:em(20);
      @extend %absolutely-centered;
    }
  }
}

#notifier{
  $notifier-transition-time:.3s;
  width:100%;
  height:$header-height;
  position: fixed;
  top:0;left:0;
  z-index:10;
  color:$theme-0;
  text-align: center;
  display: table;
  padding-left: $nav-width;
  box-sizing: border-box;
  transform: translateY(-100%);
  visibility: hidden;
  transition:transform $notifier-transition-time ease, visibility 0s ease $notifier-transition-time;

  &.visible{
    visibility: visible;
    transform: translateY(0);
    transition:transform $notifier-transition-time ease;
  }
  p{
    display: table-cell;
    vertical-align: middle;
    line-height: 1.3;
  }

  &.error{
    background-color: $brand-pink;
  }
  &.success{
    background-color: $brand-green;
  }
  &.wait{
    background-color: $brand-yellow;
  }
  .close-button{
    width: em(20);
    height: em(20);
    background: transparent;
    position: absolute;
    top: em(20);
    right: em(20);
    padding:0;
    display: none;
    .icon{
      width:100%;
      height:100%;
      fill:$theme-0;
    }
  }
}

main{
  width: 100%;
  padding-left: $nav-width;
  box-sizing: border-box;
  height:100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  color:$theme-300;
  background-color: $theme-50;

  .dark{
    color:$theme-800;
  }
}

footer{
  text-align: center;
  margin:em(20) 0;
}
@import 'pages/pages';
@import 'partials/media';