///**
//
//List of Common Resolutions:
//
//2560x1440
//1920x1080
//1680x1050
//1600x900
//1440x900
//1366x768
//1280x800
//1024x768
//800x600
//768x1024
//600x960
//414x736
//320x568
//320x480
//
//*/

@-ms-viewport{
  width:device-width;
}
@viewport{
  width:device-width;
}

@media only screen and (max-width: 1130px) {
  body{
    font-size: .9em;
  }
}