%noselect {
  user-select: none;
}
%absolutely-centered{
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  position: absolute;
}
%display-flex{
  display: flex;
}
.is-shown{
  display: block;
}
.is-hidden{
  display: none;
}
.is-visible{
  visibility: visible;
  opacity:1;
}
.is-invisible{
  visibility: hidden;
  opacity:0;
}

%pseudo-clear{
  content:'';
  width:0px;
  height:0px;
  clear:both;
  display: block;
}
.clear{
  width:0px;
  height:0px;
  clear:both;
  display: block;
}
.bold{
  font-weight: bold;
}
.container{
  width:90%;
  margin:0 auto;
}
.default-select{
  outline:none;
  border:1px solid;
  background:transparent;
  border-radius:em(5,14);
  font-size:em(14);
}
.default-button{
  padding:em(7) em(20);
  border-radius: em(5);
  letter-spacing: .3px;
  font-size: inherit;
}
.default-input{
  font-size: inherit;
  border:none;
  outline:none;
  padding:em(7) em(20);
  border-radius: em(5);
  padding-left:0;
}
.loading{
  background-image:url('../img/loading.gif');
  background-size:em(70);
  background-repeat:no-repeat;
  background-position: center;
}