@mixin font-face($font-family, $font-weight, $font-style) {
	$filepath: "../fonts/" + $font-family;
	
	@if($font-weight != normal) {
	  $filepath : $filepath + capitalize($font-weight);
	}
	@if($font-style != normal) {
	  $filepath : $filepath + capitalize($font-style);
	}
	@font-face {
		font-family: "#{$font-family}";
		src: url($filepath + ".eot");
		src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $font-family + "") format('svg');
		font-weight:$font-weight;
		font-style:$font-style;
	}
}

//border radius mixin
@mixin iosSwitch( $switch_width: 100px, $switch_height: 40px, $switch_border: 3px ) {
	.switch {
		&-container {
			box-sizing: border-box;
			width: $switch_width;
			height: $switch_height;
			border-radius: $buttons_border_radius;
			background-color: #fff;
			position: relative;
		}
		&-label {
			box-sizing: border-box;
			display: block;
			margin: 0;
			border: $switch_border solid #38e983;
			border-radius: $buttons_border_radius;
			padding: 0;
			width: $switch_width;
			height: $switch_height;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			cursor: pointer;
			-webkit-transition: background-color 200ms ease, border-color 200ms ease;
			transition: background-color 200ms ease, border-color 200ms ease;
			&:before {
				display: block;
				box-sizing: border-box;
				content: "";
				border-radius: $buttons_border_radius;
				width: $switch_width - $switch_border;
				height: $switch_height - $switch_border * 2;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #38e983;
				-webkit-transform: scale( 1 );
				transform: scale( 1 );
				-webkit-transition: -webkit-transform 200ms ease;
				transition: transform 200ms ease;
			}
			&:after {
				content: "";
				box-sizing: border-box;
				display: block;
				width: $switch_height - $switch_border * 2;
				height: $switch_height - $switch_border * 2;
				background-color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				box-shadow: 0 2px 5px 0 rgba( #000, 0.3 );
				-webkit-transition: -webkit-transform 200ms ease;
				transition: transform 200ms ease;
				border-radius: 12px;
			}
		}
		&-input {
			width: 0;
			height: 0;
			opacity: 0;
			&:checked ~ .switch-label {
				border-color: $default-red;
				background-color: $default-red;
				-webkit-transition: background-color 200ms ease, border-color 200ms ease;
				transition: background-color 200ms ease, border-color 200ms ease;
			}
			&:checked ~ .switch-label:before {
				-webkit-transform: scale( 0 );
				transform: scale( 0 );
				-webkit-transition: -webkit-transform 200ms ease-in;
				transition: transform 200ms ease;
			}
			&:checked ~ .switch-label:after {
				-webkit-transform: translateX( $switch_width - $switch_height );
				transform: translateX( $switch_width - $switch_height );
				-webkit-transition: -webkit-transform 200ms ease-in;
				transition: transform 200ms ease;
			}
		}
	}
}
