//Colors Used
$theme-1000:#384655;
$theme-900:#40505f;
$theme-800:#4f5f6f;
$theme-500: #627787;
$theme-300:#7e8e9f;
$theme-250:#d7dde4;
$theme-200:#dbe1e8;
$theme-100:#f0f3f6;
$theme-50: #f5f8fb;
$theme-0:white;

$brand-yellow:#ffc400;
$brand-pink:#fc4c7a;
$brand-blue:#59c2e6;
$brand-green: #42cf81;


//Animation Timing
$body-fadein-time: .2s;
$chart-visibility-transition-time:.2s;


$nav-width:em(230);

