#greeting{
  margin-top: em(50);
  h3{
    font-size:em(18);
    font-weight: bold;
    letter-spacing: .15px;
    line-height: 1.1;
  }
  h4{
    font-size:em(14);
    line-height: 1.5;
  }
  padding-bottom: em(20);
  border-bottom: 2px solid $theme-200;
}

#parking-lot-selector{
  margin-top: em(30);
  border-color: $theme-200;
  color:$theme-300;
  width:100%;
  font-family: OpenSans;
  height: em(40);
}


body.loading-data{

  #chart-wrapper{
    #parking-lot-stats-chart{
      @extend .is-invisible;
      transition: opacity $chart-visibility-transition-time ease;
    }
    .loading{
      @extend .is-visible;
      transition: opacity $chart-visibility-transition-time ease;
    }
  }
  #parking-lot-selector{
    pointer-events: none;
  }
  #chart-results{
    display: none;
  }
}

#chart-wrapper{
  background:white;
  position: relative;
  h2{
    margin-top: em(35,20);
    line-height: 1.5;
    color:$theme-500;
    font-size: em(20);
    padding: em(20,20) 0 em(10,20) em(20,20);
    letter-spacing: .5px;
  }
  #parking-lot-stats-chart{
    height:em(500);
    width:100%;
    padding-bottom: em(15);
    @extend .is-visible;
    transition: opacity $chart-visibility-transition-time ease, visibility 0s ease $chart-visibility-transition-time;
  }
  .loading{
    width:100%;
    height:em(500);
    @extend .is-invisible;
    transition: opacity $chart-visibility-transition-time ease, visibility 0s ease $chart-visibility-transition-time;
    position: absolute;
    top:em(68);
  }
}

#chart-results{
  margin-top: em(25,18);
  color:$theme-500;
  font-size: em(18);
  line-height: 1;
  span{
    display: inline-block;
    vertical-align: middle;
  }
  .max{
    padding:em(10,18);
    border-radius: em(7);
    background:$brand-green;
    color:$theme-0;
  }
  .text{

  }
  .calendar-wrapper{
    position: relative;
    height:em(18,18);
    padding:em(10,18);
    background:$brand-pink;
    cursor:pointer;
    border-radius: 50%;

    &:hover{
      .max-dates{
        display: block;
      }
    }
    svg{
      fill:$theme-0;
      height:100%;
    }
    .max-dates{
      display: none;
      background: $theme-800;
      position: absolute;
      color:$theme-0;
      bottom: 140%;

      li{
        font-size: em(14,18);
        line-height: 1.5;
        border-bottom:1px solid $theme-0;
        width:em(315, 14);
        padding:em(10);
        &:last-child{
          border:none;
        }
      }
    }
  }
}

#max-in-range{
  margin-top: em(20,18);
}